streamlit
pandas
matplotlib.pyplot
seaborn
geopandas
sklearn.linear_model
io
folium
branca.colormap
folium.plugins
requests
difflib
plotly
glob
os
streamlit.components.v1
plotly.express
matplotlib.ticker
streamlit_folium
plotly.graph_objects
